* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #099b83;
}

.fundo {
    width: 660px;
    margin: 0 auto;
    background-color: #0cc7a8;
    padding: 1px;
}
.flex{
    display: flex;
}

.azul{
    background-color: #0cbea1;
    padding: 80px;
    margin: 10px;
}
.alongar{
    padding-right:280px;
}
.esticar{
    padding-bottom: 400px;
}
